@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');



body{
    background-color: white;
    display: block;
    margin: 8px;
    font-family: 'Open Sans', sans-serif;
}

#navbar{
    text-align: right;
    color: black;
    
}

form {
    text-align: center;
    display: block;
    margin-top: 0em;
    
    
}

#logo{
    font-size: 100px;
    text-align: center;
    margin-bottom: 2%;
}

#vyhled{
    text-align: center;
    margin: 8%;
    display: block;
}


#okno{
    width: 550px;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 100px;
}      




