@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');



body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    
    
}

.navbar{
    text-align: right;
}

.navbar ul a{
    text-decoration: none;
    color: black;
    margin:1%;
    


}

form {
    text-align: center;
    display: block;
    
    
    
}

.logo{
    font-size: 100px;
    text-align: center;
    margin-bottom: 2%;
}

.vyhled{
    text-align: center;
    display: block;
    margin-top: 10%;
}


.okno{
    width: 450px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 100px;
}     

#img{
    font-size: 20px;
    
    color: blue;
}

.col{
    color: blue;
}

.col1{
    color: red;
}

.col2{
    color: yellow;
}

.col3{
    color: green;
}



